
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
  display: flex;
  justify-content: space-between
}
.list>li{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 6px;
  padding: 4px 6px;
  text-decoration: none;
}
li>a{
  color: rgb(247, 255, 252);
  text-decoration: none;
  font-family: inherit;
}
.linkcontainer{
  width: 600px;
  display: inline-block;
}

.list code {
  background: #f7f7f7;
}
